/*
 * 尾部样式
 * Date 2016-12-15
 * Author Yezhenwei
 */
.footer {
  height: 100px;
  font-size: 13px;
  color: white;
  display: flex;  
  justify-content:center;
  align-items:center;
  background-color: #2481C2;
}